.Navbar {
    background-color: var(--color-red);
    height: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0% 17%;
    position:sticky;
    top:0;
    z-index: 3;
}

.nav-item{
    padding: 12px 20px;
    text-align: center;
    height: 100%;
    cursor: pointer;
}
.nav-item:hover{
background-color: var(--color-red-dark);
}