.Navbar {
    background-color: var(--color-orange);
    height: 45px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 0% 10%; */
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-item {
    padding: 12px 20px;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.nav-item>h6 {
    font-weight: bold;
}

.nav-item:hover {
    background-color: var(--color-orange-dark);
}

.nav-signup {}

/*small screen laptop*/
@media screen and (min-width: 768px)and (max-width: 1366px) {
    .nav-item>h6{
        font-size: 0.87rem;
    }
}

/* Tablet */

@media screen and (max-width: 1020px) {
    .Navbar {
        display: none;
    }
}