.payment-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 50px 0;
}
.payment-heading{
    text-align: center;
    font-size: 2.2rem;
    margin: 20px 0;
    font-weight: bold;
    color: var(--color-red);
}
.button-payment{
width: 100%;
}
.input-payment{
    width: 100%;
}
.payment-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.paymentSuccess-card{
    text-align: center;
    font-size: 1.5rem;
    max-width: 500px;
    /* background-color: var(--color-success-green); */
    color: var(--color-success-green);
    width: max-content;
}
.paymentSucess-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}