.youtube-container{
    background-color: var(--color-blue-youtube);
    background-image: url("../../Assets/Images/mandeshwarswamylogo-low.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-blend-mode:  soft-light;
    color: white;
    display: flex;
    height: 400px;
    margin: 10px 0;
    padding: 50px 0 ;
    padding-left: 100px;
    z-index: -1;
}

.youtube-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 80px;
}
.youtube-heading{
font-family: var(--font-english);
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 700;
}
.youtube-description{
font-family: var(--font-telugu);
font-size: 1.2rem;
}
.youtube-button{
    border: 0;
    width: 30%;
    height: 15%;
    border-radius: 5px;
    margin: 10px 32%;
    color: white;
    font-family: var(--font-english);
    background-color: var(--color-secondary);
    font-weight: 700;
}
.youtube-button:hover{
    background-color: var(--color-secondary-dark);
}
.youtube-button:active{
    background-color: var(--color-secondary-light);
    color: var(--color-dark);
}