* {
    /* background-color: rgb(246, 232, 154); */
    box-sizing: border-box;
    max-width: 100%;
}

.Baner {
    padding: 0% 0.7%;
    background-color: rgb(247, 199, 77);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.god-image {
    width: 25%;
}

.godimg {
    display: flex;
    align-items: center;
    height: 200px;
    width: 400px;
}

.title {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.telugu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telugu-govt-title {
    font-size: 15px;
    font-weight: bold;
}

.telugu-temple-title {
    font-size: 32px;
    /* margin: 0.2% 0%; */
    font-weight: bold;
    color: red;
}

.telugu-address-title {
    font-size: 15px;
    font-weight: bold;
}

.english-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.english-govt-title {
    font-size: 15px;
    font-weight: bold;
}

.english-temple-title {
    font-size: 32px;
    font-weight: bold;
    color: red;
}

.english-address-title {
    font-size: 15px;
    font-weight: bold;
}

.govt-logo {
    width: 10%;
}

.govtlogo {
    height: 180px;
    width: 180px;
}